go 1.25

use (
"sockets"
"futils"
	.
	amount
	suricata
	LogForward
	articasys
	SqliteConns
	notifs
	compressor
	GlobalsValues
	CacheMem
	apostgres
	csqlite
	RESTApi
	suricata/SuricataUpdates
	suricata/SuricataTools
	suricata/suricataConfig
	suricata/SuricataDashboard
	httpclient
	ipclass
	monit
	logsink
	afirewall
	sysctl
	DNSMem
	MyNets
	logrotate


)