go 1.25

use (
	.
	amount
	suricata
	LogForward
	articasys
	SqliteConns
	notifs
	compressor
	GlobalsValues
	CacheMem
	apostgres
	csqlite
	RESTApi
	suricata/SuricataTools
	suricata/SuricataDashboard
	SuriStructs
	surisock
	httpclient
	ipclass
	monit
	logsink
	afirewall
	DNSMem
	MyNets
	logrotate
	sockets
	futils
	SuricataService
	BPFfilter
	PFRingIfaces
	SuricataACLS
	surirules
	Classifications
	Update
	Update/Otx
	SuriTables
	SuriConf
	DashBoard
	Reconfigure
	PFRing
	SuricataACLS/PortsGrouping
	SuricataACLS/CheckArule
	SuricataACLS/DomainsGrouping
	Update/DataShieldIPv4Blocklist
	Update/IPSets
	Maintenance
	IPEthtool
	CheckMem
	LogForward/WazuhForwarder
	LogForward/LogStruct
	Update/UpdateLog

)